.contenedor-noticia>img {
    margin-left: auto;
    margin-right: auto;
}

@media (min-width:768px) {
    .contenedor-noticia {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}