footer {
    margin-top: 2rem;
    background-color: var(--light-1);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}

.texto-footer {
    color: var(--blue-1);
    font-weight: 700;
    text-align: center;
}